body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
*,
::before,
::after {
  box-sizing: border-box;
}
img,
object,
embed {
  max-width: 100%;
  height: auto;
}
object,
embed {
  height: 100%;
}
img {
  margin: 1.25% 0;
}
html {
  padding: 2%;
  background-color: #f0f1f3;
}
body {
  margin: 5% auto;
  max-width: 800px;
  font-size: 16px;
  line-height: 1.6;
  color: #242424;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
body::after {
  content: '';
  display: table;
  clear: both;
}
header {
  margin-bottom: 8%;
}
footer {
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h1 a {
  color: #263a48;
  font-weight: 500;
  text-decoration: none;
}
h1,
h2 {
  font-size: 36px;
  padding-bottom: 0.3em;
  margin-bottom: 0.4em;
  border-bottom: 1px solid #eee;
}
h2 {
  font-size: 22px;
  padding-bottom: 0.6em;
  margin-bottom: 0.6em;
  margin-top: 2.5em;
}
h3 {
  font-size: 18px;
  margin-top: 0.3em;
  margin-bottom: 0.6em;
}
h1 small a {
  color: #98999c;
  font-size: 15px;
  font-weight: normal;
  float: right;
  position: absolute;
  top: 15px;
  right: 20px;
}
section {
  background: #fff;
  margin-bottom: 1%;
  position: relative;
  padding: 6% 8%;
}
blockquote {
  border-left: 3px solid #d54e21;
  font-size: 16px;
  padding: 0 0 0 20px;
  color: #d54e21;
}
blockquote a {
  color: #d54e21;
  font-weight: 500;
}
blockquote code {
  color: #d54e21;
}
code,
cite {
  background-color: #f0f2f4;
  border-radius: 3px;
  color: #000;
  font: inherit;
  padding: 2px 7px;
  white-space: nowrap;
}
pre {
  background-color: #f0f2f4;
  clear: both;
  border-radius: 4px;
  display: block;
  font-size: 14px;
  overflow: auto;
  padding: 20px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
pre + img {
  margin-top: 2.4em;
}
.gist {
  margin-top: 5.1%;
  margin-bottom: 5%;
}
a {
  color: #1e8cbe;
  text-decoration: underline;
}
a:hover {
  color: #d54e21;
}
ul {
  list-style: none;
}
ol {
  list-style: number;
}
ul,
ol {
  list-style-position: inside;
}
ul li,
ol li {
  margin-bottom: 0.5em;
}
ul li:last-child,
ol li:last-child {
  margin-bottom: 0;
}
p,
ul,
ol,
blockquote {
  margin-bottom: 4%;
}
ul ul,
ol ol,
ul ol,
ol ul,
ul.list,
ol.list {
  padding-top: 0;
  margin-bottom: 0;
  margin-left: 4%;
}
ul ul li::before,
ol ol li::before,
ul ol li::before,
ol ul li::before,
ul.list li::before,
ol.list li::before {
  content: '-';
  display: inline-block;
  padding-right: 2%;
}
ul.list,
ol.list {
  margin-left: 0;
  line-height: 2;
}
ul.col-2 {
  column-count: 2;
  column-gap: 20px;
}
@media (min-width: 576px) {
  ul.col-2 {
    column-count: 2;
    column-gap: 20px;
  }
}
nav {
  min-width: 215px;
  margin-bottom: 5px;
  margin-top: 15px;
  background: #f0f1f3;
}
nav:first-of-type a {
  color: #d54e21;
  border-radius: 0;
}
nav:first-of-type a:hover {
  color: #d54e21;
}
nav:first-of-type a::before {
  background-color: #d54e21;
}
nav.affix {
  position: fixed;
  top: 20px;
}
nav.affix-bottom {
  position: absolute;
}
nav a {
  display: block;
  position: relative;
  width: 100%;
  padding: 10px 12px;
  padding-right: 3px;
  font-size: 15px;
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
  border-radius: 3px;
  border-bottom: 2px solid #fff;
}
nav a::before {
  content: '';
  display: none;
  position: absolute;
  width: 4px;
  top: 0;
  left: 0;
  height: 100%;
  background: #1e8cbe;
}
nav a:hover {
  color: #1e8cbe;
  text-decoration: underline;
  background-color: #e6e8ea;
}
nav a:hover::before {
  display: block;
}
nav a:last-of-type {
  border-bottom: none;
}
@media (max-width: 1199px) {
  body {
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  header span {
    display: none;
  }
  h1 {
    font-size: 26px;
  }
  h2 {
    font-size: 20px;
  }
}
@media (max-width: 575px) {
  p,
  ul,
  ol,
  blockquote {
    margin-bottom: 8%;
  }
}
