$white = #ffffff
$black = #525252
$gray = #a7a7a7
$color = #83b46d

$success = #75c181
$warning = #fba944
$info = #58bbee
$danger = #f77b6b

// Typography

body
	margin 0
	padding 0
	font-size 15px
	color $black
	line-height 1.5rem
	font-family -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif
	font-weight 400
	
h1, h2, h3, h4, h5, h6
	font-weight 600
	color $black
	margin 15px 0
	
h1
	font-size 34px
	
h2
	font-size 26px
	
h3
	font-size 24px
	
h4
	font-size 20px
	
h5
	font-size 16px

h6
	font-size 14px

a
	color $color
	text-decoration none
	&:hover
		color $color
		text-decoration underline

p
	margin 0 0 15px

b,
strong
	font-weight 600

img
	height auto
	max-width 100%

.img
	margin 15px 0

ul,
ol
	margin 15px 0
	line-height 2rem

code
	padding 5px 7px
	font-weight 600
	border-radius 4px
	font-size 90%
	color $white
	background-color $black

pre
	margin 15px 0

.toc
	position relative
	list-style-type none
	padding 20px 20px 20px 30px
	margin 15px 0
	background-color lighten($gray, 90%)
	counter-reset b
	ol
		list-style-type none
		li:last-child
			margin-bottom 10px
		
.toc > li:before
	content counter(b) '. '
	counter-increment b

.toc > li > ol
	counter-reset c

.toc > li > ol > li:before
	content counter(b) '.' counter(c) '. '
	counter-increment c

.toc > li > ol > li > ol
	counter-reset d

.toc > li > ol > li > ol > li:before
	content counter(b) '.' counter(c) '. ' counter(d) '. '
	counter-increment d

.toc ol li:before, 
.toc > li:before
	color darken($gray, 10%)
	font-weight 500
	font-size 14px
	margin-right 5px

.vl-alert
	margin 15px 0
	padding 20px
	border-radius 4px
	p:last-child
		margin-bottom 0
	a,
	a:hover
		color $black
		font-weight 600

.vl-alert--success
	color $white
	background-color $success
	
.vl-alert--info
	color $white
	background-color $info

.vl-alert--warning
	color $white
	background-color $warning

.vl-alert--danger
	color $white
	background-color $danger

.rate
	max-height 20px
// Button

.vl-btn
	display inline-block
	cursor pointer
	border none
	outline 0
	border-radius 3px
	user-select none
	text-align center
	font-size 14px
	line-height 1.5rem
	padding 7px 20px
	background-color $color
	text-decoration none
	box-shadow inset 0 -2px 0 rgba($black, 10%)
	color $white
	img
		margin-right 5px
		max-height 16px
		position relative
		margin-top -2px
		vertical-align middle
	&:hover
		text-decoration none
		color $white

.vl-btn--instagram
	background-color #88624e

.vl-btn--twitter
	background-color #3eb5f1

.vl-btn--subscribe
	background-color #ff8737

// Content

.vl-content
	padding 60px 0


// Header

.vl-header
	padding 60px 0
	background-color lighten($gray, 90%)
	border-top 5px solid $color
	
	.vl-header--icon
		max-height 38px
		margin-right 10px
		vertical-align top
	
	.vl-header--title
		color $color
		font-weight normal
		font-size 38px
		line-height 38px
		strong
			color $black
			
	.vl-header--subtitle
		margin 20px 0 0
		color $gray
		line-height 1
		img
			max-height 15px
			margin-right 6px
			vertical-align top


// Nav

.vl-site-nav
	ul
		margin 0
		padding 0
		list-style-type none
		line-height 1.5rem
	> ul > li
		margin-bottom 5px
		&.active > a
			border-color $color
			color $color

.vl-site-nav li a
	display block
	padding 5px 15px
	border-left 4px solid transparent
	color $black
	text-decoration none
	&:hover
		color $color




ul.sub-menu
	li a
		padding-left 35px
		font-size 14px
	li.active > a
		color $color



// Section

.vl-section
	padding 15px 0

.vl-section--title
	margin 0
	padding-bottom 10px
	border-bottom 1px solid lighten($gray, 80%)

.vl-section--content
	padding 15px 0



// Footer

.vl-footer
	padding 20px 0
	text-align center
	background-color darken($black, 10%)
	color $gray
	p
		margin 0
